/* MAJOR ELEMENTS */

html, body{
    margin: 0; padding: 0;
    position: relative;
    height: 100%;
    min-height: 900px;
    background-color: #131313;
}
p{ margin:0; padding:0; }
button, textarea { font: inherit }
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#content{
    position: absolute;
    top: 50%;
    margin-top: -395px;
    left: 50%;
    margin-left: -372.5px; 
    width: 745px;
    height: 790px;
    background: url(../grain.png) #242424;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.14);
}

/* HEADER */

#header{
    height: 200px; width: 100%;
    padding: 0px 45px 0px 45px;
    background: url(../grain.png) #383838;
    display: table;
}
#header span{
    position: relative;
    height: auto; width: 50%;
    display: table-cell;
    vertical-align: middle;
}
#header .logo{
    color: #fff;
    font-size: 35pt;
    font-family: 'Oswald', sans-serif;
    line-height: 52px;
}
#header .subtitle{
    color: #838383;
    font-size: 16pt;
    padding-left: 3px;
}
#header .logo-img{
    position: absolute;
    height: 136px; width: 136px;
    top: 0px; bottom: 0px; right: 0px;
    margin: auto;
    border-radius: 100px;
    border: solid 9px #4e4e4e;
}

/* CONTAINER */

#container{
    position: absolute;
    top: 200px; bottom: 0px;
    width: 100%; height: auto;
    padding: 25px 45px 0px 45px;
}

/* RESET API BUTTON */

#reset-api{
    height: 37px;
    width: 210px;
    background: #2a2a2a;
    border: solid 1px #141414;
    border-radius: 8px;
    color: #dadada;
    font-size: 11.5pt;
    cursor: pointer;
}
#reset-api:hover { background: #313131; }
#reset-api:focus{ outline: none; }

/* STATUS LIGHT */

#status-box {
    height: 37px; width: 238px;
    background: #1f1f1f;
    border: solid 1px #141414;
    border-radius: 8px;
    color: #dadada;
    font-size: 11.5pt;
    float: right;
    overflow: hidden;
}
#status-box span {
    display: inline-block;
    height: 100%;
    border-right: solid 1px #141414;
    width: 30%;
}
#status-box .title {
    height: 100%; width: 100%;
    background: #373737;
    line-height: 36px;
    text-align: center;
    border-right: 1px solid #2e2e2e;
    font-family: Meslo;
    font-size: 9.2pt;
    padding-left: 4px;
}
#status-box .status {
    height: 100%; width: 70%;
    display: inline-block;
    float: right;
    text-align: center;
    line-height: 34px;
}
#status-box .status::before {
    height: 11px; width: 11px;
    border-radius: 50px;
    display: inline-block;
    content: '';
    background: #769df9;
    margin-right: 7px;
    -webkit-animation: pulse 1s infinite;
    -moz-animation:    pulse 1s infinite;
    -o-animation:      pulse 1s infinite;
    animation:         pulse 1s infinite;
    animation-timing-function: ease-in-out;
}
#status-box .status::after {
    content: 'LOADING';
    display: inline-block;
    font-size: 16px;
}

#status-box.online .status::before{ 
    background: #1aee6a; 
    animation: none; -webkit-animation: none;
    -moz-animation: none; -o-animation: none;
}
#status-box.online .status::after{ content: 'ONLINE' }

#status-box.offline .status::before{ 
    background: #db3b2b; 
    animation: none; -webkit-animation: none;
    -moz-animation: none; -o-animation: none;
}
#status-box.offline .status::after{ content: 'OFFLINE' }

/* Console */

.textarea-container {
    margin-top: 87px;
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    padding: 0px 45px 45px 45px;
}
#console {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: solid 1px #141414;
    background: #1f1f1f;
    resize: none;
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(27,27,27,1);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(27,27,27,1);
    box-shadow: inset 0px 0px 0px 2px rgba(27,27,27,1);
    color: #b4b4b4;
    padding: 10px 15px;
    font-family: Meslo;
    font-size: 9pt;
    line-height: 16px;
}
#console:focus{ outline: none }

/* Animations */

@-webkit-keyframes pulse {
    0%   { opacity: .5; }
    50%   { opacity: 1; }
    100% { opacity: .5; }
}
@-moz-keyframes pulse {
    0%   { opacity: .5; }
    50%   { opacity: 1; }
    100% { opacity: .5; }
}
@-o-keyframes pulse {
    0%   { opacity: .5; }
    50%   { opacity: 1; }
    100% { opacity: .5; }
}
@keyframes pulse {
    0%   { opacity: .5; }
    50%   { opacity: 1; }
    100% { opacity: .5; }
}

/* Web Fonts */

@font-face {
    font-family:"Meslo";
    src: url(../fonts/MesloLGL-Regular.ttf)
}